html {
  font-family: 'M PLUS 1p', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
}

body {
  background: linear-gradient(to right, #cae6f7, #e9ddf3);
}

.dark>body {
  background: #26234f;
}

.floating-animation-v1 {
  animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
  margin: 0;
}

@keyframes floating-y {
  0% {
    transform: translateY(-1em);
  }

  100% {
    transform: translateY(1em);
  }
}

.profile-name {
  color: var(--tw-prose-headings);
  background: linear-gradient(transparent 70%, #77c0fb 70%);
}

.dark .profile-name {
  background: linear-gradient(transparent 70%, #4387be 70%);
}

.profile-likes-tag {
  display: inline-block;
  margin: 0 .2em .3em 0;
  padding: .5em;
  line-height: 1;
  text-decoration: none;
  color: var(--tw-prose-links);
  background-color: rgba(var(--color-neutral-50), 1);
  border-radius: 0.75em;
  font-weight: 600;
  font-size: .75em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.profile-likes-tag:before {
  content: "#";
  color: var(--tw-prose-invert-links);
}

.dark .profile-likes-tag {
  background-color: rgba(var(--color-neutral-700), 1);

}